We're sorry, we were unable to process your request.

<table>
  <tbody>
    <tr>
      <th> Request URI </th>
      <td> <%= @referer %> </th>
    </tr>
    <% if @session_params -%>
      <tr>
        <th> Parameters </th>
        <td> <%= @session_params.inspect %> </td>
      </tr>
    <% end -%>
  </tbody>
</table>
